<!--The content below is only a placeholder and can be replaced.-->
<div class="col s12 z-depth-2">
    <div class="row">
        <h1>
            Welcome to {{ title }}!
        </h1>
        <div class="col s12" *ngIf="isList">
            <div class="col s12 right-align">
                <button (click)="doAdd()" class="waves-effect waves-light btn-flat">ADD</button>
            </div>

            <table class="highlight">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>FullName</th>
                        <th>CreateTime</th>
                        <th class="center-align">Edit</th>
                        <th class="center-align">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemList; let i = index">
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.full_name}}
                        </td>
                        <td>
                            {{item.created_at | date}}
                        </td>
                        <td>
                            <button (click)="doEdit(item)" class="waves-effect waves-light btn-flat text-yellow">EDIT</button>
                        </td>
                        <td>
                            <button (click)="doDelete(item.id)" class="waves-effect waves-light btn-flat text-red">DELETE</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s12" *ngIf="!isList">
        <div class="row">
            <div class="input-field col s6">
                <input required [(ngModel)]="item.name" id="name" type="text" class="validate">
                <label [class.active]="isEdit" ngfor="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input required [(ngModel)]="item.full_name" id="full_name" type="text" class="validate">
                <label [class.active]="isEdit" for="full_name">Full Name</label>
            </div>
            <div class="col s12 text-ceter">
                <button (click)="reset()" class="waves-effect waves-light btn-flat">BACK</button>
                <button *ngIf="isAdd" (click)="doAddDone()" class="waves-effect waves-light btn-flat text-teal">DONE</button>
                <button *ngIf="isEdit" (click)="doEditDone()" class="waves-effect waves-light btn-flat text-teal">DONE</button>
            </div>
        </div>
    </div>
</div>